<!doctype html>
<html lang="en">
<head>
    <title>Data</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
    <h1 class="text-center">My own secured api</h1>
    <body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Github</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>#}
<script>
    let tbody = document.querySelector('tbody');
let id = document.createElement('td');
let first_name = document.createElement('td');
let last_name = document.createElement('td');
let a = document.createElement('a');

let gitgub = document.createElement('td');
let tr = document.createElement('tr');

let xhr = new XMLHttpRequest(); // the constructor has no arguments
xhr.onload = function () {
    if (this.status === 200) {
        try {

            const responseObject = JSON.parse(this.responseText);
            let resObj = null;

            for (resObj in responseObject.data) {
                id.textContent = responseObject.data[resObj].id;
                first_name.textContent = responseObject.data[resObj].first_name;
                last_name.textContent = responseObject.data[resObj].last_name;
                a.textContent = responseObject.data[resObj].github_link;
                a.href = responseObject.data[resObj].github_link;
                tbody.appendChild(tr);
                console.log(a);
                tr.appendChild(id);
                tr.appendChild(first_name);
                tr.appendChild(last_name);
                tr.appendChild(gitgub);
                gitgub.appendChild(a);

                tbody.innerHTML += '';
            }
        } catch (e) {
            console.warn('There was an error in the JSON. Could not parse!');
        }
    } else {
        console.warn('Did not receive 200 Ok from response');
    }
};

// Secured api
// xhr.open('GET', 'http://127.0.0.1:5000/data.json?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoieWFzaXIifQ.SlMcGE7m4Xy-IkrYbHXa3J3hpuQrEQz_sb0lBrLRJIE');
xhr.open('GET', 'https://yasir-api.herokuapp.com/data.json?token={{ token }}');
xhr.send();

</script>
</html>